extends layout

block content
  a#home(href="/")
    h1 #{title}
  if (user)
    h4 Hello, #{user}
  if (results)
    form#submitForm(action="/add-habit", method="post")
      label(for="habit")
        input#habit(type="text", placeholder="Add a habit", name="habit")
        input(type="submit", value="Add")
    br
    .dropdown
      button.dropbtn(onclick="myFunction()") My Habits
      #myDropdown.dropdown-content
        if (results)
          each type in results
            a(href=`/?habit=${type.habit}`)= type.habit
      a(href="/logout")
        button 로그아웃
    br
    br
    if (habit)
      .calendarTitle
        h1#calendarTitle #{habit}
        .buttons
          button#calendarChangeButton 수정
          button#calendarDeleteButton 삭제
      #showcase-wrapper
        #myCalendarWrapper
  else
    form.loginbox
      input#username(placeholder="ID", type="text", name="id")
      input#password(placeholder="Password", type="password", name="password")
      input#loginButton(type="submit", value="로그인")

    br

    a(href="/register")
      button 회원가입
